################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PortalNoticiasProject/.vs/PortalNoticiasProject/v16
